* {
    margin: 0px;
    padding: 0px;
}


/*Primary style */

.text-praymery-color {
    color: #FD6E0A
}

.praymari-button-style {
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    padding: 12px 20px;
}


/* nav menu  */

header {
    background-color: #fff4ff;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.nav-manu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 220px;
}

.nav-text-logo {
    font-family: Open Sans;
    font-size: 60px;
    font-weight: 900;
    padding: 20px 10px;
}

.nav-manu-bar>ul {
    display: flex;
    align-items: center;
}

.nav-manu-bar li {
    margin-left: 50px;
    list-style: none;
}

.nav-manu-bar li a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}


/* display text and image  */

.display-style {
    padding-left: 230px;
    padding-top: 20px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-text {}

.banner-image {
    width: 584px;
    height: 600px;
}

.banner-h3 {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
}

.banner-h1 {
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
}

.banner-pra {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.new-button {
    padding: 8px 20px;
    margin-top: 10px;
}

.new-button-bg {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 20px;
    background-color: white;
    margin-left: 20px;
}